.App {
  background-color: #FAF9F6 !important;
}

.hero {
  position: relative;
  min-height: 100vh !important;
  min-height: 100svh !important;
  overflow-y: visible;
}

.rounded {
  border-radius: 1rem !important;
}

.background-video {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh !important;
  object-fit: cover;
  filter: brightness(0.8);
}

@media screen and (min-width: 1020px) {
  /* larger breakpoint */

  .hero {
    padding-bottom: 15rem !important;
  }

  .hero-l {
    height: 16rem !important;
    text-align: left;
  }

  .hero-r {
    height: 16rem !important;
    height: auto;
    padding-left: 0 !important;
  }

  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .myheader {
    font-size: 3rem !important;
  }

  .display-2 {
    font-size: 4.5rem !important;
  }

  .project {
    width: 30rem !important;
  }

  .scroll-button {
    bottom: 5rem;
    font-size: 3.5rem;
  }

  li {
    font-size: 1.26rem !important;
  }

}

@media screen and (max-width: 1019px) {
  /* smaller breakpoint */

  .hero {
    padding-bottom: 10rem !important;
  }

  .hero-container {
    max-width: 40rem;
  }

  .hero-l {
    height: auto;
    text-align: center;
  }

  .hero-r {
    height: 15rem !important;
  }

  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .projectcard {
    margin-left: 0;
    margin-right: 0;
  }

  .myheader {
    font-size: 2.5rem !important;
  }

  .display-2 {
    font-size: 3.05rem !important;
  }

  .hero-buttons {
    justify-content: center;
  }

  .projects-row {
    width: 100% !important;
  }

  .project {
    width: 45rem !important;
    min-height: 14rem;
  }

  .scroll-button {
    bottom: 5rem;
    font-size: 3rem;
  }

  .hidden,
  .hidden>* {
    display: none !important;
  }

  li {
    font-size: 1.15rem !important;
  }

  .tagline {
    font-size: 1.26rem;
  }

  .skills-row {
    justify-content: center !important;
  }
}

@media screen and (max-width: 456px) {
  /* smallest breakpoint */

  .github-button .visit-text {
    display: none !important;
  }

  .github-button {
    width: 2.1rem !important;
  }

  .footer-text {
    font-size: 0.9rem !important;
  }

  ul {
    padding-left: 0.25rem !important;
  }

  li {
    font-size: 1.09rem !important;
  }

  .hero-buttons,
  .tagline {
    margin: 0 !important;
  }

  .tagline {
    font-size: 1.084rem;
  }

  .hero-l {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .hero-r {
    padding-left: 0.4rem !important;
    padding-right: 0.4rem !important;
  }

  .imgcol {
    display: none !important;
  }

  .mylist {
    width: 100% !important;
  }

  .skill {
    width: 100% !important;
  }

  .skill-content,
  .skill-title {
    text-align: center !important;
    width: 100% !important;
  }
}

.hero-button {
  width: 7.55rem;
  height: 2.5rem !important;
  padding: 0.2rem !important;
  font-size: 1.15rem;
  font-weight: 400;
  position: relative;
  background: transparent !important;
  overflow: hidden !important;
}

.hero-button:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
  transition: all .1s ease-in-out;
}

.projects,
.skills {
  position: relative;
  background-color: #FAF9F6 !important;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.projectcard {
  outline: none;
  border: none;
  transition: all .1s ease-in-out;
}

.myheader {
  background-color: transparent;
  height: 5rem;
  text-align: center;
  font-weight: 500 !important;
}

.aboutme {
  display: flex;
  flex-wrap: wrap;
  background-color: #FAF9F6 !important;
  position: relative;
  z-index: 2;
}

.card-header {
  display: flex;
  align-items: center;
  font-size: 1.6rem !important;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  height: auto;
  font-weight: 500;
}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.hi-im-jack {
  font-weight: 500;
}

.icon {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 1rem;
  margin: 0;
}

li {
  padding-top: 0.9rem;
}

.hero-img {
  object-fit: cover;
  filter: drop-shadow(0.1rem 0.1rem 0.05rem rgba(0, 0, 0, 0.15));
  background-color: rgba(255, 255, 255, 0.15);
}

.github-button {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
  /* width: 10.5rem; */
  height: 2.25rem;
  opacity: 0 !important;
  transition: all .1s ease-in-out;
}

.projectcard:hover .github-button {
  opacity: 1 !important;
  transition: all .1s ease-in-out;
}

.github-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: all .1s ease-in-out;
}

.project-bottom {
  width: 100%;
  min-height: 2.75rem;
}

.project-info {
  font-size: 1rem;
  font-weight: 400;
  flex-grow: 1;
  box-sizing: border-box;
}

.badges {
  flex-wrap: wrap !important;
}

.badge {
  height: auto;
  width: auto;
  font-size: 0.95rem;
  font-weight: 700;
  background: transparent;
}

.myfooter {
  background-color: #FAF9F6 !important;
}

.header-img {
  filter: invert(1);
  height: 3.2rem !important;
}

.exeter {
  background-color: #00c896 !important;
  color: #003c3c !important;
  font-weight: 500 !important;
  border-radius: 0.5rem !important;
  border-color: white !important;
}

.about-me-section {
  background: rgba(0, 0, 0, 0.1);
  width: 75rem;
  margin: 0;
  padding: 0;
  justify-content: center;
  height: auto;
}

.about-me-header {
  width: 100% !important;
  height: 4rem;
  background-color: rgba(30, 30, 30, 0.1);
}

.about-me-body {
  font-size: 1rem !important;
  width: 100%;
  height: auto;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.footer-text {
  width: 50%;
}

.scroll-button {
  padding: 0;
  color: black;
  background-color: rgba(240, 240, 240, 0.7);
  backdrop-filter: blur(1rem);
  border-radius: 2rem;
  z-index: 10 !important;
  cursor: pointer;
}

.projects-row {
  justify-content: center;
  width: 100%;
  max-width: 100rem !important;
}

.hidden>*,
.hidden button {
  opacity: 0;
  cursor: default !important;
}

.hero-container {
  width: 62rem;
  height: auto;
  background-color: rgba(240, 240, 240, 0.7);
  backdrop-filter: blur(1rem);
  animation: parallax linear;
  animation-timeline: scroll();
}

li {
  background-color: transparent !important;
  border: none !important;
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
  border: transparent solid 0.1rem !important;
}

.skill {
  height: 4rem;
  width: auto;
  overflow: hidden;
  font-weight: 500;
}

.skill-title {
  font-size: 1.2rem;
}

.skill-img {
  filter: invert(1);
}

.skills-row {
  width: 75rem !important;
}

.email {
  font-weight: 400 !important;
}

@keyframes parallax {
  to {
    transform: translateY(25rem);
  }
}